#!/bin/bash

set -e

# set default brew path
if [[ $(uname -m) == "arm64" ]]; then
  path_to_brew="/opt/homebrew/bin"
else
  path_to_brew="/usr/local/bin"
fi

source {{ ansible_env.HOME }}/.bashrc

brew_repository=$("${path_to_brew}"/brew --repository)

rm -rf {{ ansible_env.HOME }}/mirrors/github.com/bitrise-io/homebrew-cask

mkdir -p {{ ansible_env.HOME }}/mirrors/github.com/bitrise-io/

git clone \
    --bare https://github.com/bitrise-io/homebrew-cask \
    {{ ansible_env.HOME }}/mirrors/github.com/bitrise-io/homebrew-cask

# Ensure we checked out the correct SHA
git \
    -C {{ ansible_env.HOME }}/mirrors/github.com/bitrise-io/homebrew-cask \
    rev-parse HEAD |\
grep {{ homebrew_cask.sha }}

rm -rf "${brew_repository}/Library/Taps/homebrew/homebrew-cask"

git clone {{ ansible_env.HOME }}/mirrors/github.com/bitrise-io/homebrew-cask "${brew_repository}/Library/Taps/homebrew/homebrew-cask"
